body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

#login-container {
    margin-top: 20%;
}

#password-input {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    width: 200px;
}

#login-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#login-button:hover {
    background-color: #555;
}

#error-message {
    margin-top: 10px;
}
